[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "==4.5.1"
coveralls = "==2.1.1"
decorator = "==4.3.0"
gensim = "==3.4.0"
langdetect = "==1.0.7"
matplotlib2tikz = "==0.6.17"
matplotlib = "==2.2.2"
nltk = "==3.2.5"
numpy = "==1.19.1"
scipy = "==1.5.2"
scikit-learn = "==0.23.1"
textblob = "==0.15.3"
typing = "==3.6.4"
Brotli = "==1.0.4"
Flask = "==1.0.2"
Flask-Cors = "==3.0.4"
Scrapy = "==1.8.0"

[requires]
python_version = "3.8"
