brotli==1.0.7
coverage==4.5.2
coveralls==1.5.1
decorator==4.3.2
Flask==1.0.2
flask-cors==3.0.7
gensim==3.7.1
langdetect==1.0.7
matplotlib2tikz==0.6.18
matplotlib==3.0.2
nltk==3.2.5
numpy==1.16.1
scipy==1.2.0
scrapy==1.6.0
scikit-learn==0.20.2
textblob==0.15.2
typing==3.6.6
