brotli==1.0.1
coverage==4.4.2
coveralls==1.2.0
decorator==4.1.2
Flask==0.12.2
flask_cors==3.0.3
gensim==3.2.0
langdetect==1.0.7
matplotlib2tikz==0.6.14
matplotlib==2.1.1
nltk==3.2.5
numpy==1.14.0
scipy==1.0.0
scrapy==1.5.0
scikit-learn==0.19.1
textblob==0.15.0
typing==3.6.2
